@import 'variables';
.filter button {
  background: none;
  border: none;
  width: auto;
  padding: 0px 10px;
  height: 25px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  color: $c1;
  transition: .3s;
}

.filter:hover > :not(:hover) {
  opacity: .4;
}