.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 6%;
  z-index: 0;
  padding-top: 20px;
  padding-bottom: 100px;
  background-image: url("https://images.pexels.com/photos/733856/pexels-photo-733856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  background-blend-mode: luminosity;
}

.filter {
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.post {
  border: 1px solid red;
  border-radius: 4px;
  position: absolute;
  top: 6%;
  left: 20%;
  width: 60vw;
  height: auto;
  max-height: 60vh;
  margin: 8px;
  padding: 5px 20px;
  overflow: auto;
  background-color: #D2D4C8;
}

.postDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postDelete {
  border: none;
  background: none;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
}

.postImage {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 2px;
    width: 300px;
    height: 200px;

    &:hover {
      zoom: 1.25;
    }
  }
}

.postCards {
  border: 1px solid red;
  margin: 30px;
  padding: 15px;
  display: grid;
  grid-template-columns:auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
}

.postCard {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    text-align: center;
  }
}