.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 5%;
  z-index: 0;
  padding-top: 20px;
  padding-bottom: 100px;
  background-image: url("https://images.pexels.com/photos/733856/pexels-photo-733856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  background-blend-mode: luminosity;
}

.filter {
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.postDelete {
  border: none;
  background: none;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  width: 300px;
  display: flex;
  justify-content: flex-end;
}

.postCards {
  margin: 30px;
  padding: 15px;
  display: grid;
  grid-template-columns:auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
}

.postCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.postDetails {
  border: 0.1px solid black;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 4px;

  span {
    background-color: #D2D4C8;
    height: 50px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #5F7470;
  }
}