.post {
  border-radius: 4px;
  width: 100%;
  min-height: 100vh;
  background-color: #D2D4C8;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 0.5fr auto 0.4fr;
  grid-column-gap: 10px;
  grid-row-gap: 2px;
  user-select: none;
}

.postIntro {
  grid-area: 1 / 1 / 2 / 6;
  margin-left: 50px;
  align-self: center;
}

.postTitle {
  padding-left: 10px;
}

.postDate {
  margin-top: -10px;
  padding-left: 15px;
}

.postCategory {
  margin-top: -15px;
  padding-left: 15px;
}

.postImage {
  border-radius: 4px;
  width: 480px;
  height: 320px;
  margin-left: 30px;
  grid-area: 2 / 2 / 3 / 3;
  object-fit: contain;
}

.postText {
  margin-left: 50px;
  padding: 10px;
  font-size: 18px;
  text-align: justify;
  grid-area: 2 / 1 / 3 / 2;
}

.postAuthor {
  grid-area: 3 / 2 / 4 / 3;
  align-self: flex-end;
  justify-self: flex-end;
  margin-right: 30px;
}

@media only screen and (min-width: 300px) and (max-width: 1023px){
  .post {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .postIntro {
    align-self: flex-start;
    margin-left: 15px;
  }

  .postText {
    margin: 5px;
  }

  .postImage {
    margin: 10px;
    width: 90vw;
    height: 30vh;
  }
}