.post {
  // border: 1px solid red;
  border-radius: 4px;
  width: 100%;
  min-height: 100vh;
  background-color: #D2D4C8;
  position: absolute;
  top: 5%;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

.postIntro {
  // border: 1px solid red;
  grid-area: 1 / 1 / 2 / 6;
  height: 200px;
  margin-left: 10px;
}

.postTitle {
  // border: 1px solid red;
  padding-left: 10px;
}

.postDate {
  margin-top: -10px;
  padding-left: 15px;
  // border: 1px solid red;
}

.postCategory {
  margin-top: -15px;
  padding-left: 15px;
  // border: 1px solid red;
}

.postImage {
  // border: 1px solid red;
  border-radius: 2px;
  width: 480px;
  height: 320px;
  margin-left: 30px;
  grid-area: 2 / 2 / 3 / 3;
}

.postText {
  // border: 1px solid red;
  margin-left: 50px;
  margin-top: -60px;
  padding: 10px;
  text-align: justify;
  grid-area: 2 / 1 / 3 / 2;
}

.postAuthor {
  // border: 1px solid red;
  grid-area: 3 / 2 / 4 / 3;
}