.cpPage {
  background-color: #B8BDB5;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: 1;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
  }

  label {
    font-size: 20px;
  }

  input {
    width: 220px;
    height: 30px;
  }

  button {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    height: 40px;
    width: 140px;
    background-color: #889696;
    border-radius: 4px;
  }
}

.cpDetails {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.cpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.categoryText select {
  width: 200px;
  height: 30px;
}

.editor {
  background-color: whitesmoke;
  width: 95vw;

  .editor-class {
    min-height: 300px;
  }

  .public-DraftStyleDefault-ltr {
    font-size: 18px;
  }
}